html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  font-size: 14px;
}
.container {
  max-width: 1028px;
  padding: 24px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.link {
  border-radius: 1px;
  display: inline-block;
  color: maroon;
  text-decoration: none;
  transition: background-color 100ms;
  padding: 1px;
  cursor: pointer;
}
.link:hover {
  background-color:peachpuff;
}
a {
  text-decoration: none;
  color: black;
  font-weight: normal;
}
a:hover {
  background-color: none;
  text-decoration: underline;
}
.upvote {
  transition: background-color 100ms;
}
.upvote.upvoted {
  color: coral;
}
.articles .summary {
  display: none;
}
.summary {
  padding: 1em 0;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1em;
}
.top .link {
  font-weight: bold;
}
.article {
  margin-bottom: 0.5em;
}
.credit {
  margin-right: 4px;
}
.line1 small {
  color: gray;
}
.line2 {
  font-size: 0.8rem;
}
hr {
  border: 0;
  height: 1px;
  background: maroon;
}
#discussion_rules {
  padding: 1em;
  background-color: floralwhite;
  border-radius: 4px;
}
.comment.child {
  padding-left: 0.75em;
  margin-left: 0.5em;
  border-left: solid 2px rosybrown;
}
.comment_controls {
  font-size: 0.8rem;
  padding-bottom: 0.75em;
}
.comment_author {
  padding-top: 0.5em;
  font-size: 0.75em;
  color: grey;
}
.comment_content {
  margin: 4px 0;
}
#discussion textarea {
  display: block;
  padding: 1em;
  margin: 1em 0;
  width: 100%;
  height: 6em;
  background-color: floralwhite;
  border-radius: 4px;
  border: none;
  font: inherit;
}
#login_sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#login {
  margin-right: 40px;
}
form {
  flex-grow: 1;
}
form label  {
  display: block;
  margin: 0.5em 0;
}
form input[type=text], form input[type=password], form textarea {
  background-color: floralwhite;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  font-size: 1.1em;
  outline: inherit;
  padding: 0.5em;
}
form textarea {
  width: 320px;
  box-sizing: border-box;
  height: 160px;
  max-width: 100%;
}
form input[type=submit] {
  margin-top: 1em;
  display: block;
  background: none;
  border: none;
  font: inherit;
}
#char_count {
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  .top {
    display: block;
  }
}